:root {
  --font-youyuan: 'YouYuan', '幼圆', 'Microsoft YaHei', sans-serif;
  --font-huawen: 'HuaWenXiHei', '华文细黑', 'Microsoft YaHei', sans-serif;
  --font-pingfang: 'PingFang SC', 'Microsoft YaHei', sans-serif;
  --font-monospace: 'JetBrains Mono', 'Fira Code', 'Consolas', 'Monaco', monospace;
  --font-comic: 'Comic Sans MS', 'PingFang SC', 'Arial', sans-serif;
  --font-agency: 'Agency FB', 'Arial', sans-serif;
}

/* 字体文件引入 */
@font-face {
  font-family: 'YouYuan';
  src: url('https://images-1359353257.cos.ap-beijing.myqcloud.com/fonts/%E5%B9%BC%E5%9C%86.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url('https://images-1359353257.cos.ap-beijing.myqcloud.com/fonts/ComicSansMS.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Agency FB';
  src: url('https://images-1359353257.cos.ap-beijing.myqcloud.com/fonts/AgencyFB.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ZiHun';
  src: url('https://images-1359353257.cos.ap-beijing.myqcloud.com/fonts/ZiHun.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'ShouZhang';
  src: url('https://images-1359353257.cos.ap-beijing.myqcloud.com/fonts/ShouZhang.woff2') format('woff2');
  font-display: swap;
}
//@font-face {
//  font-family: 'YouYuan';
//  src: url('/fonts/幼圆.woff2') format('woff2');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Comic Sans MS';
//  src: url('/fonts/ComicSansMS.woff2') format('woff2');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Agency FB';
//  src: url('/fonts/AgencyFB.woff2') format('woff2');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'ZiHun';
//  src: url('/fonts/ZiHun.woff2') format('woff2');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'ShouZhang';
//  src: url('/fonts/ShouZhang.woff2') format('woff2');
//  font-display: swap;
//}
